@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400;700;900&family=Montserrat:wght@300;600;900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

nav {
  background-color: #d13f88;
}

.nav-wrapper .brand-logo {
  font-family: 'Nosifer', cursive;
  font-size: 32px;
  font-weight: 800;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 0 auto;
  background-color: #db7eacf3;
}

button {
  padding: 10px;
}

.balanceSection {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.balanceSection p {
  font-weight: 700;
  font-size: 16px;
  padding: 1rem;
}

.table {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  width: 80%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.table h4 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

table th {
  color: #d13f88;
}

.balanceSection #email {
  color: blue;
  text-decoration: underline;
  font-weight: normal;
  cursor: pointer;
}

.balanceSection #email:hover {
  color: rgb(177, 37, 12);
}

.waves-effect {
  background-color: white;
  color: black;
  font-weight: bold;
}

.waves-effect:hover {
  background-color: #d13f88;
  color: white;
}

#logout {
  background-color: white;
  color: black;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

#logout:hover {
  background-color: #d13f88;
  color: white;
}
